@import "yummacss/dist/yumma.css";

::selection {
  background-color: hsl(208, 88%, 62%);
  color: #fefefe;
}

:root {
  --sh-class: #dda2f6;
  --sh-entity: #85b1e0;
  --sh-property: #dda2f6;
  --sh-sign: #b9bed5;
  --sh-string: #9aefea;
  --sh-jsxliterals: #b9bed5;
  --sh-comment: #555c77;
  --sh-keyword: #7e7edd;
  --sh-identifier: #85b1e0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.max-w-144 {
  max-width: 36rem;
}

.ls-xs {
  letter-spacing: -0.05em;
}

.ls-sm {
  letter-spacing: -0.05em;
}

.tw-b {
  text-wrap: balance;
}

.va-m {
  vertical-align: middle;
}

.n\:ml-8 {
  margin-left: -8px;
}

.spr-6 {
  scroll-padding-right: 1.5rem;
}

html {
  min-width: 360px;
}

.typography .anchor {
  position: absolute;
  visibility: hidden;
  text-decoration-line: none;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  visibility: visible;
}

.typography a {
  text-decoration-line: underline;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  text-decoration-color: #a3a3a3;
  text-underline-offset: 2px;
  text-decoration-color: 0.1em;
}

.typography .anchor:after {
  color: #d4d4d4;
  content: '#';
}

.typography *:hover>.anchor {
  visibility: visible;
}

.typography pre {
  background-color: #1f212a;
  overflow-x: auto;
  font-size: 0.875rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.typography code {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.typography pre code {
  padding: 0px;
  border: initial;
  line-height: 1.5;
}

.typography code span {
  font-weight: 500;
}

.typography img {
  margin: 0px;
}

.typography p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #262626;
}

.typography h1 {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.typography h2 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.typography h3 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.typography h4 {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.typography strong {
  font-weight: 500;
}

.typography ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.typography ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.typography> :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 600px;
  overflow: auto;
}

input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}